{% extends 'base.html' %}
{% load staticfiles %}


{% load mytags %}




{% block content %}
<br />

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        {% csrf_token %}
            <div class="box">
                <div class="box-header">


                    <div class="col-sm-4 pull-right">
                             <div class="input-group inline-group padding-right: 10px">
                                <input type="text" class="form-control  " id="keyword" name="keyword"  placeholder="Search">
                                <input type="text" style="display: none">
                                <div class="input-group-btn ">
                                    <button id='search_btn' type="button" class="btn btn-primary "  onclick="search()">搜索</button>
                                    <button  name="export" type="button" class="btn btn-success search-btn-excel"  onclick="return export_excel()">导出</button>

                                </div>
                            </div>
                        </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-bordered  table-hover" id="dataform">
                      <thead>
                        <tr>
                                <th><input type="checkbox" id="choose_all"/></th>
                                <th>序号</th>
                                <th>主机名</th>
                                <th>管理IP</th>
                                <th>ssh端口</th>
                                <th>主机组</th>
                                <th>CPU</th>
                                <th>内存(G)</th>
                                <th>机房</th>
                                <th class="text-center">功能</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for host in data %}
                                    <tr class="even gradeX">
                                        <td><input type="checkbox" id="id"  class="item1" value="{{ host.id }}" name="id" /></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'asset_edit' host.id %}"  > {{ host.hostname }}</a></td>
                                        <td class="ip">{{ host.ip }}</td>
                                        <td class="port">{{ host.port }}</td>
                                        <td>{{ host.group }}</td>
                                        <td>{{ host.cpu_num }}</td>
                                        <td>{{ host.memory }}</td>
                                        <td>{{ host.idc }}</td>
                                        <td ><button class="btn btn-sm btn-info webssh"   value="webssh">WebSSH</button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                  </table>
                    <button class="btn btn-success" ><a href="{% url 'asset_add' %}">添加</a></button>
                    <button class="btn btn-danger" type="button" id="delete">删除</button>

                          	<nav>
                             <ul class="pagination">
                                 {% if pagination_data.has_previous %}
                                    <li><a href="?page_no= 1" >首页</a></li>
                                    <li><a href="?page_no={{ pagination_data.previous_link }}" >&laquo</a></li>
                                 {% endif %}
                                 {% for no in pagination_data.page_links %}
                                    {% if no == pagination_data.current_no %}
                                        <li class="active">
                                            <a href="?page_no={{ pagination_data.current_no }}"> {{ pagination_data.current_no }} </a>
                                        </li>
                                    {% else %}
                                        <li ><a href="?page_no={{ no }}"> {{ no }} </a></li>
                                    {% endif %}
                                 {% endfor %}
                                 {% if pagination_data.has_next %}
                                    <li><a href="?page_no={{ pagination_data.next_link }}"  >&raquo</a></li>
                                    <li><a href="?page_no= {{ pagination_data.page_cnt }}" >尾页</a></li>
                                 {% endif %}

                              </ul>
                        </nav>
                    </div>
                </div>
    </section>

    <div id="myTab">

    </div>
</div>
{% endblock %}
{% block basic_script %}
<script src="{% static 'js/lodash.min.js' %}" type="text/javascript" charset="utf-8"></script>
<!--
<script src="{% static 'js/xterm/xterm.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/xterm/addons/attach/attach.js' %}"></script>
<script src="{% static 'js/xterm/addons/fit/fit.js' %}"></script>
<script src="{% static 'js/xterm/addons/fullscreen/fullscreen.js' %}"></script>
<script src="{% static 'js/xterm/addons/search/search.js' %}"></script>
<script src="{% static 'js/xterm/addons/terminado/terminado.js' %}"></script>
-->
<script src="{% static 'js/term.js' %}" ></script>
<script src="{% static 'js/ws.js' %}" ></script>


<script>
function openTerminal(options) {
    var client = new WSSHClient();
    var term = new Terminal({cols: 80, rows: 24, screenKeys: true, useStyle: true});
    term.on('data', function (options) {
        client.sendClientData(options);
    });
    term.open();
    $('.terminal').detach().appendTo('#myTab');
    $("#term").show();
    term.write('Connecting...');
    client.connect({
        onError: function (error) {
            term.write('Error: ' + error + '\r\n');
            console.debug('error happened');
        },
        onConnect: function () {
            //alert(options)
            client.sendInitData(options);
            //client.sendClientData('\r');
            console.debug('connection established');
        },
        onClose: function () {
            term.write("\rconnection closed")
            console.debug('connection reset by peer');
            $('term').hide()
        },
        onData: function (options) {
            term.write(options);
            console.debug('get data:' + options);
        }
    })
}

var charWidth = 6.2;
var charHeight = 15.2;


function getTerminalSize() {
    var width = window.innerWidth;
    var height = window.innerHeight;
    return {
        w: Math.floor(width / charWidth),
        h: Math.floor(height / charHeight)
    };
}





   $("button.webssh").on("click",function () {
            var _this = $(this);
            var ip=_this.parent().siblings(".ip").text();
            var port = _this.parent().siblings(".port").text();
            var user= $("#user").text()
            var param={ip:ip ,port:port,user:user}


//            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  //          var ws_path = ws_scheme + '://' + window.location.host + '/ws/';
            //alert($(_this).text())
            openTerminal(param)

});


 $("#delete").on("click",function () {
        var array = new Array();
        $("input.item1:checked").each(function() {
            //alert($(this).val());
            array.push($(this).val());
        });
        if(array.length>0) {
            if (confirm("确定是否删除?")) {
                $.ajax({
                    url: "{% url 'asset_del' %}",
                    data: {id: JSON.stringify(array)},
                    type: 'POST',
                    dataType: 'JSON',
                    traditional: true,
                    success: function (data) {
                        if (data.status) {
                            location.href = "{% url 'cmdb' %}";
                        } else {
                            alert(data.error);
                        }
                    },
                    error: function () {
                        //location.href = "/noperm"
                        confirm("没有权限，请联系管理员")
                    }
                });
            }
        }
            else {
                alert("请至少选择一个");
            }

    });

    function  all(_this){
             if(_this.is(':checked')){
                $("input[type='checkbox']").each(function(){
                    $(this).prop("checked",true);
                });
        }else{
            $("input[type='checkbox']").each(function(){
                    $(this).removeAttr("checked",false);
                });
        }
    }

    $("#choose_all").on("click",function(){
       // var z = $(this);
       //all(z)
        all($(this))
    });

    function search(){
        var keyword=$("#keyword").val()
        location.href = "{% url 'cmdb' %}?keyword=" + keyword
    }

    function export_excel(){
        var array = new Array();
         $("input.item1:checked").each(function() {
            array.push($(this).val());
        });
        if (array.length == 0){
            if(confirm('没有勾选，是否导出全部信息？')){
                var args = $("#asset_form").serialize();
                //window.location = "{% url 'cmdb' %}?export=all&" + args
                location.href = "{% url 'export' %}?id=" + JSON.stringify(array)
                }else{
                    return false;
                }
            }else{
                var args = $("#asset_form").serialize();
                //window.location = "{% url 'cmdb' %}?export=true&" + args
                  location.href = "{% url 'export' %}?id=" + JSON.stringify(array)
            }
    }


</script>
{% endblock  %}