{% extends 'base.html' %}
{% load staticfiles %}


{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
{% endblock %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(2);
    }
    function showhide(n) {
        var box = document.getElementById("cmdb");
        box.className="active";
        var box = document.getElementById("group");
        box.className="active";
    }
</script>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
<br>

    <!-- Main content -->
    <section class="content">
        <form action="{% url 'group_del' %}" method="post">
                {% csrf_token %}
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-hover table-bordered" id="dataform">
                                  <thead>
                                        <tr>
                                            <th><input type="checkbox" id="choose_all"/></th>
                                            <th>序号</th>
                                            <th>组名</th>
                                            <th>描述</th>
                                        </tr>
                                  </thead>
                            <tbody>
                                {% for g in allgroup %}
                                    <tr class="even gradeA">
                                        <td><input type="checkbox" class="item1"  value="{{ g.id }}" name="id" /></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'group_edit' g.id %}" > {{ g.name }}</a></td>
                                        <td>{{ g.desc }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                  </table>
                    <button class="btn btn-success" ><a href="{% url 'group_add' %}">添加</a></button>
                    <button class="btn btn-danger" type="button" id="delete">删除</button>
                </div>
            </div>
        </form>
    </section><!-- /.content -->
</div>
{% endblock %}

{% block basic_script %}
<script>
 $("#delete").on("click",function () {
        var array = new Array();
        $("input.item1:checked").each(function() {
            //alert($(this).val());
            array.push($(this).val());
        });
        if(array.length>0) {
            if (confirm("确定是否删除?")) {
                $.ajax({
                    url: "{% url 'group_del' %}",
                    data: {id: JSON.stringify(array)},
                    type: 'POST',
                    dataType: 'JSON',
                    traditional: true,
                    success: function (data) {
                        if (data.status) {
                            location.href = "{% url 'group' %}";
                        } else {
                            alert(data.error);
                        }
                    },
                    error: function () {
                        location.href = "/noperm"
                    }
                });
            }
        }
            else {
                alert("请至少选择一个");
            }

    });


    $("#choose_all").click(function(){
            if($(this).is(':checked')){
                $("input[type='checkbox']").each(function(){
                    $(this).prop("checked",true);
                });
        }else{
            $("input[type='checkbox']").each(function(){
                    $(this).removeAttr("checked",false);
                });
        }

    });

</script>
{% endblock  %}
