Django==1.11.7
django-bower==5.2.0
django-crispy-forms==1.7.0
django-guardian==1.4.9
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
git+https://github.com/jimmy201602/django-hstore
psycopg2
MySQL-python