{% extends 'base.html' %}
{% load staticfiles %}
{% if title %} 
    {% block title %}
        {{ title }}
    {% endblock %}
{% endif %}
{% block js %}
<script type="text/javascript" charset="utf8" src="{% static 'datatables/media/js/jquery.dataTables.min.js'%} "></script>
<script type="text/javascript" charset="utf8" src="{% static 'datatables/media/js/dataTables.bootstrap.min.js'%} "></script>
<script type="text/javascript" charset="utf8" src="{%static 'js/datatableview.js' %}"></script>
<script type="text/javascript" src="{% static "fm/js/fm.js" %}"></script>
<script type="application/javascript">
    $(function(){
        datatableview.initialize($('.datatable'));
    });
    $(function() {
        $.fm({debug: false});
    });
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/media/css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static "fm/css/modal.css" %}" />
<style type="text/css">
    #content {
        margin: 0 auto; max-width: 800px; padding: 0 20px;
    }
    .object-list {
        margin-top: 30px;
    }
    .object {
        margin-bottom: 30px;
    }
    .object-controls {
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block head_ext %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{app_label}}
        <small>{{title|capfirst}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'dynamic-list' app_label model %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{model}}</li>
    </ol>
</section>
{{extra_content}}{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="caption">
                        <!--<i class="fa fa-globe"></i> <h3 class="box-title">Visitors Report</h3>-->
                        <a role="button" class="btn btn-primary" href="{% if app_label and model %}{% url 'dynamic-form-create' app_label model%}{% else %} # {% endif %}"} title="Add New {{model|capfirst}}"> Add New {{model|capfirst}}
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body ">
                        {% if datatable %}
                        {{ datatable }}
                        {% else %}
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_3" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="all">First name</th>
                            <th class="min-phone-l">Last name</th>
                            <th class="min-tablet">Position</th>
                            <th class="none">Office</th>
                            <th class="none">Age</th>
                            <th class="none">Start date</th>
                            <th class="desktop">Salary</th>
                            <th class="none">Extn.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tiger</td>
                            <td>Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                            <td>5421</td>
                        </tr>
                        <tr>
                            <td>Garrett</td>
                            <td>Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                            <td>$170,750</td>
                            <td>8422</td>
                        </tr>
                        <tr>
                            <td>Ashton</td>
                            <td>Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                            <td>$86,000</td>
                            <td>1562</td>
                        </tr>
                        </tbody>
                        </table>
                        {% endif %}
                    {% include "modal.html" %}
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>

    </div>
</section>

{% endblock %}
