{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block js %}
<!--related objects action-->
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/prepopulate.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
 
<!--form media-->
{{ form.media }}
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block head_ext %}{{extra_content}}{% endblock %}
{% block content %}
<section class="content">
    <form id="id-m-form" action="" method="post" class="form {% block form_css_class %}{% endblock %}" {% block form_ext_attr %}{% endblock %} role="form">
        {% block right_side_content %}
        {% block right_side_content_top %}
        {% endblock %}
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
                {% if form.helper %}
                    {% crispy form form.helper %}
                {% else %}
                    {% crispy form %}
                {% endif %}
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        {% block form_bottom_ext %}
                        {% endblock %}
                        {% block form_act_btns %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default goback">Cancel</button>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </form>
</section>
{% endblock %}