{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}
{% block js %}
<!--related objects action-->
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/prepopulate_init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/prepopulate.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
<script type="text/javascript" src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
<!--form media-->
{{ form.media }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<script type="text/javascript">
    $('select').select2({
        theme: "bootstrap"
    });
$('body').on('click', '.related-widget-wrapper-link', function(e) {
    e.preventDefault();
    var id = this.id.replace('change_','');
    var win = window.open($(this).attr('data-href-template').replace('__fk__', $("#"+id+" :selected").val()), 'id_category', 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
});
function dismissChangeRelatedObjectPopup(win, objId, newRepr, newId) {
    var id = windowname_to_id(win.name).replace(/^edit_/, '');
    var selectsSelector = interpolate('#%s, #%s_from, #%s_to', [id, id, id]);
    var selects = $(selectsSelector);
    selects.find('option').each(function() {
        if (this.value === objId) {
            this.textContent = newRepr;
            this.value = newId;
            $("#"+id).select2('destroy');
            $("#"+id).select2({
                theme: "bootstrap"
            });
            $("#"+id).val(newId);
        }
    });
    win.close();
}
window.dismissChangeRelatedObjectPopup = dismissChangeRelatedObjectPopup;
</script>
{% endblock %}
{% block title %}{{title|capfirst}}{% endblock %}
{% block head_ext %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{app_label}}
        <small>{{title|capfirst}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dynamic-list' app_label model %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{model}}</li>
      </ol>
    </section>
{{extra_content}}{% endblock %}
{% block content %}
<section class="content">
    <form id="id-m-form" action="" method="post" class="form {% block form_css_class %}form-horizontal{% endblock %}" {% block form_ext_attr %}{% endblock %} role="form">
        {% block right_side_content %}
        {% block right_side_content_top %}
        {% endblock %}
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
                {% if form.helper %}
                    {% crispy form form.helper %}
                {% else %}
                    {% crispy form %}
                {% endif %}
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        {% block form_bottom_ext %}
                        {% endblock %}
                        {% block form_act_btns %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default goback">Cancel</button>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </form>
</section>
{% endblock %}